body,div,ul,ol,li
  margin:0
  padding:0

ul,ol
  list-style-type: none
  list-style-image: none

li
  list-style: none

html,body
  user-select: none

html,body,div
  text-size-adjust: none

html
  text-size-adjust: 100%;
  font-size: 62.5%

html,body
  min-width: 320px;
